
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProjectLabel" translate="uploadimageApp.project.home.createOrEditLabel">Create or edit a Project</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="project.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="uploadimageApp.project.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="project.name"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="setPicture($file, project)" ngf-pattern="'image/*'">
            <label class="control-label" translate="uploadimageApp.project.picture" for="field_picture">Picture</label>
            <div>
                <img data-ng-src="{{'data:' + project.pictureContentType + ';base64,' + project.picture}}" style="max-height: 100px;" ng-if="project.picture"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{project.pictureContentType}} {{byteSize(project.picture)}}</span>
                    <button ng-click="project.picture=null;project.pictureContentType=null;"
                            ng-if="project.picture"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setPicture($file, project)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                    ng-model="project.picture"
                     />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                    ng-model="project.pictureContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
